.productBar {
  display: flex;
  margin-right: 40px;
}
.productDetails {
  border-bottom: 3px solid lightgray;
  margin-left: 10px;
}
.productDetails h4 {
  color: blue;
  font-weight: 400;
}
.mainBtn {
  background-color: goldenrod;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px 30px;
  cursor: pointer;
}
